@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(90deg, #7d5fff, #7158e2);
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

#reset-state,
#developer-link {
  all: unset;
  padding: 10px 15px;
  border: 2px solid #444;
  background: #fff;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: #111;
  transition: background-color 0.3s ease;
}

#reset-state:hover,
#developer-link:hover {
  background-color: #ddd;
}

#developer-info,
#reset-link {
  display: none;
}

#developer-link {
  text-decoration: none;
}

#developer-info.active,
#reset-link.active {
  display: block;
}

.search {
  position: relative;
  height: 50px;
}

.search .input {
  background-color: #fff;
  border: 0;
  font-size: 18px;
  padding: 15px;
  height: 50px;
  width: 50px;
  transition: width 0.3s ease;
}

.btn {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: transform 0.3s ease;
}

.btn:focus,
.input:focus {
  outline: none;
}

.search.active .input {
  width: 200px;
}

.search.active .btn {
  transform: translateX(198px);
}
